In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
customers = pd.read_csv("Customers.csv")

In [3]:
customers

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
...,...,...,...,...,...,...,...,...
1995,1996,Female,71,184387,40,Artist,8,7
1996,1997,Female,91,73158,32,Doctor,7,7
1997,1998,Male,87,90961,14,Healthcare,9,2
1998,1999,Male,77,182109,4,Executive,7,2
1999,2000,Male,90,110610,52,Entertainment,5,2

In [8]:
#Number of MALE and FEMALE Workers
sns.countplot(x=new_data["Gender"])

NameError: name 'new_data' is not defined

In [5]:
### Info of the Customer Dataset

data.info()

NameError: name 'data' is not defined

In [4]:
#Check Whether NULL values present in the data

print("Number of Null Values in the data set based on the column based : \n")
data.isnull().sum()

Number of Null Values in the data set based on the column based :

NameError: name 'data' is not defined