In [1]:
#匯入csv檔案
#Disney+ 2022上半年電影 全球排名積分
import pandas as pd

data1 = pd.read_csv("data1.csv",encoding="Big5")
data1

   排名積分        movie
0     1         魔法滿屋
1     2        青春養成記
2     3         海洋奇緣
3     4   復仇者聯盟：終局之戰
4     5          永恆族
5     6      尚氣與十環傳奇
6     7  冰原歷險記：巴克大冒險
7     8         奇異博士
8     9      尋龍使者：拉雅
9    10   復仇者聯盟：無限之戰

In [2]:
#Disney+ 2022上半年電影 台灣排名積分
data2 = pd.read_csv("data2.csv",encoding="Big5")
data2

   排名積分       movie
0     1         永恆族
1     2        魔法滿屋
2     3       青春養成記
3     4          月老
4     5  復仇者聯盟：終局之戰
5     6     尚氣與十環傳奇
6     7  金牌特務：金士曼起源
7     8        奇異博士
8     9      尼羅河謀殺案
9    10         黑寡婦

In [3]:
#列出子集合
set_data1 = set(data1["movie"])
set_data1

{'冰原歷險記：巴克大冒險',
 '奇異博士',
 '尋龍使者：拉雅',
 '尚氣與十環傳奇',
 '復仇者聯盟：無限之戰',
 '復仇者聯盟：終局之戰',
 '永恆族',
 '海洋奇緣',
 '青春養成記',
 '魔法滿屋'}

In [4]:
set_data2 = set(data2["movie"])
set_data2

{'奇異博士',
 '尚氣與十環傳奇',
 '尼羅河謀殺案',
 '復仇者聯盟：終局之戰',
 '月老',
 '永恆族',
 '金牌特務：金士曼起源',
 '青春養成記',
 '魔法滿屋',
 '黑寡婦'}

In [5]:
#交集
#2022上半年全球和台灣 Disney+同時上榜的電影
(set_data1 & set_data2)

{'奇異博士', '尚氣與十環傳奇', '復仇者聯盟：終局之戰', '永恆族', '青春養成記', '魔法滿屋'}

In [6]:
#差集
#2022上半年 Disney+全球有上榜但台灣沒有上榜的電影
(set_data1 - (set_data1 & set_data2))

{'冰原歷險記：巴克大冒險', '尋龍使者：拉雅', '復仇者聯盟：無限之戰', '海洋奇緣'}

In [7]:
#對稱差集
#2022上半年只有全球或只有台灣 Disney+上榜的電影
(set_data1 | set_data2 - (set_data1 & set_data2))

{'冰原歷險記：巴克大冒險',
 '奇異博士',
 '尋龍使者：拉雅',
 '尚氣與十環傳奇',
 '尼羅河謀殺案',
 '復仇者聯盟：無限之戰',
 '復仇者聯盟：終局之戰',
 '月老',
 '永恆族',
 '海洋奇緣',
 '金牌特務：金士曼起源',
 '青春養成記',
 '魔法滿屋',
 '黑寡婦'}